/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); */
/* Fuentes Instaladas */
@font-face {
    font-family: 'Nunito';
    src: url('../../../assets/Fonts/Nunito/static/Nunito-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('../../../assets/Fonts/Nunito/static/Nunito-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../../../assets/Fonts/Nunito/static/Nunito-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../../../assets/Fonts/Nunito/static/Nunito-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('../../../assets/Fonts/Nunito/static/Nunito-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../../../assets/Fonts/Nunito/static/Nunito-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../../../assets/Fonts/Nunito/static/Nunito-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../../../assets/Fonts/Nunito/static/Nunito-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}



/* VARIABLES CSS */
:root {
    /* Colores */
    /* Principales */
    --verde-oscuro-x4: rgb(35, 83, 8);
    --verde-oscuro-x3: rgb(30, 142, 8);
    --verde-oscuro-x2: rgb(87, 178, 67);
    --verde-oscuro: rgb(25, 217, 44);
    --verde-opaco: rgb(140, 209, 124);
    --verde-claro: rgb(130, 255, 103);
    --verde: rgba(57, 184, 108);
    --azul-oscuro-x2: rgb(8, 39, 43);
    --azul-oscuro: rgb(57, 182, 184);
    --azul-claro: rgb(68, 255, 219);
    /* Texto */
    --color-blanco: rgb(255, 255, 255);
    --color-negro: rgb(0, 0, 0);
    --color-negro-claro: rgb(48 49 47);
    --color-gold: rgb(255, 215, 0);
    --color-rojo: rgb(159, 39, 39);
    --verde-borde: rgb(87, 158, 69);
    --azul-borde-oscuro: rgb(25, 81, 86);
    --azul-borde-claro: rgb(76, 150, 155);
    /* Texto Dificultades */
    --color-dificultad-facil: rgb(60, 184, 57);
    --color-dificultad-media: rgb(184, 171, 57);
    --color-dificultad-dificil: rgb(190, 8, 19);
    /* Podio */
    --primer-lugar: rgb(255, 215, 0);
    --segundo-lugar: rgb(192, 192, 192);
    --tercer-lugar: rgb(205, 127, 50);


    /* Fuente */
    --body-font: "Nunito", sans-serif;
    --font-style-uno: normal;
    --font-style-dos: italic;
    --font-weight-black: 900;
    --font-weight-extraBold: 800;
    --font-weight-bold: 700;
    --font-weight-semiBold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;

}

/* Asegurarte de que el contenido esté por encima de la capa blanca */
body * {
    position: relative;
    z-index: 1;
}

.container-fluid {
    background-image: url('../../../assets/img/Fondos/FPContenido\ 3.png') !important;
    background-size: cover;
    /* Asegura que la imagen cubra todo el fondo */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Capa negra semitransparente */
.container-fluid::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Negro con 50% de opacidad */
    z-index: 0;
}

/**********************************************************************************************/

/* Contador de jugadores */
.contador-container {
    --color-blanco: rgb(255, 255, 255);
    --inner-shadow: rgb(140, 209, 124);
    --inner-outline: rgb(30, 142, 8);
    --inner-outline-bottom: rgb(255, 255, 255);
    --inner-outline-middle: rgb(25, 217, 44);
    --inner-outline-outer-top: rgb(255, 255, 255);
    --inner-outline-outer-bottom-1: rgb(30, 142, 8);
    --inner-outline-outer-bottom-2: rgb(87, 178, 67);
    --inner-outline-outer-bottom-3: rgb(35, 83, 8);
    position: relative;
    background: var(--color-blanco);
    transition: all 0.2s;
    font-size: 17px;
    padding: 0.5em 1.4em;
    border-radius: 5px;
    box-shadow: inset 0px 1px 8px 1px var(--inner-shadow),
        0px 2px 0px 0px var(--inner-outline-bottom),
        0px -2px 0px 0px var(--inner-outline),
        -2px -2px 0px 0px var(--inner-outline),
        2px -2px 0px 0px var(--inner-outline),
        0px 0px 0px 6px var(--inner-outline-middle),
        0px -2px 0px 7px var(--inner-outline-outer-top),
        0px 4px 0px 7px var(--inner-outline-outer-bottom-1);
}

.texto-contador{
    font-family: var(--body-font);
    font-style: var(--font-style-dos);
    font-weight: var(--font-weight-black);
}




/* Estilos para la tabla */
.table-container {
    width: 100%;
    position: relative;
    top: 50px;
    align-items: center;
}

.contenedor-icono-navbar {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icono-navbar {
    width: 40px;
    margin-right: 5px;
}

/* Estilo general para la tabla */
.table {
    height: 400px;
    /* Ajusta la altura del cuerpo de la tabla */
    width: 100% !important;
    text-align: left;
    border-collapse: collapse;
    max-width: 700px;
    border-radius: 8px;
    box-shadow: 0 8px 20px #3ab3db;
    /* Sombras de la tabla */
    overflow: hidden;
    border: 3px solid #3ab3db;
    /* Borde azul */
    background-color: #3ab3db;
    display: block;
    overflow-y: auto;
    /* Scroll vertical */
    scrollbar-width: none;
    /* oculyat barra de scroll*/
    -ms-overflow-style: none;
}

/* Encabezado de la tabla */
.table thead {
    background-color: #3ab3db;
    color: black;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 10;
    /* Asegura que el encabezado se mantenga encima */
    padding: 12px !important;
    /* Ajuste del padding */
    border-bottom: 3px solid #3ab3db;
}

/* Celdas del encabezado y cuerpo */
/* .table th, .table td {
    padding: 12px;
} */

/* Alternancia de color en las filas */
.table tbody tr:nth-child(even) {
    background-color: #d4effa;
}

.table tbody tr:nth-child(odd) {
    background-color: #f1f1f1;
}

/* Borde inferior de las celdas */
.table tbody td,
.table tbody th {
    border-bottom: 1px solid #ddd;
}

/* Alineación de columnas con el encabezado */
.table thead th {
    position: -webkit-sticky;
    /* Para navegadores webkit */
    position: sticky;
    top: 0;
    background: #3ab3db;
    z-index: 1;
    text-align: center;
}

.table tbody td {
    display: table-cell;
    width: calc(100% / 2);
    /* Ajusta el ancho según el número de columnas */
    text-align: center;
}

.table thead,
.table tbody {
    width: 100%;
    table-layout: fixed;
    /* Asegura que las columnas se alineen */
}

/***************************************************************************************/

.avatar {
    border-radius: 50%;
    box-shadow: 0 0 2px 1px #3ab3db;
    /*Borde Internos*/
    width: 25px;
    height: 25px;
}

/*********************************************************************************/

/* Estilos del boton de ingreso */
.boton-carta {
    width: 140px;
    height: 80px;
    /* padding: 1.3rem; */
    border-radius: 33px;
    background-color: greenyellow;
    cursor: pointer;
    box-shadow: 0 0 10px 1px #3ab3db;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
    animation: brillo 2s infinite;
}

.boton-carta::before {
    content: "";
    position: absolute;
    width: 140px;
    height: 80px;
    background-image: conic-gradient(#3ab3db 20deg, transparent 120deg);
    animation: recorrido 2.5s linear infinite;
}

/*Animacion de resplandor*/
@keyframes brillo {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }

    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
}

@keyframes recorrido {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.boton-carta::after {
    content: "";
    position: absolute;
    width: 139px;
    height: 73px;
    background-color: #3ab3db;
    border-radius: 33px;
    box-shadow: inset 16px 14px 20px rgba(5, 15, 8, 0.397);
}

.boton-carta:active {
    transform: scale(1.1);
    /*animacion para agrandar boton mientras se presiona*/
}

.texto-boton {
    font-family: Trebuchet MS;
    font-style: unset;
    font-weight: bolder;
    color: #ffff;
    letter-spacing: 1px;
    z-index: 2;
    background-color: transparent;
    text-shadow: 5px 5px 5px black;
}

.icono {
    width: 40px !important;
    height: 40px !important;
    left: 1030px !important;
    display: flex;
    justify-content: end;
}