/* ESTILOS DE PAT GAME */
/* AUTORES: -Juan David Artunduaga Gomez 
            -Esteban Palomar Murcia
            -Ruben Felipe Tovar Aviles*/
/* FECHA: 11 DE SEPTIEMBRE DE 2024 */

/* CLASE DEL ICONO DE PAT DE LA BARRA DE LA PAGUINA */
.contenedor-icono{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icono{
    width: 40px;
    margin-right: 5px;
}
/* FIN CLASE DEL ICONO DE PAT DE LA BARRA DE LA PAGUINA */

/* CLASE DE LA TABLA DE SEGUIMIENTO DE JUGADORES */
/* EL TAMAÑO DE LA TABLA */
.contenedor-tabla{
    height: 445px;
    overflow-y: scroll;
    display: block;
    scrollbar-width: none;
}

/*Mantener encabezado estatico sin scroll*/
.tabla thead{
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 10;
}
.table thead th {
    position: -webkit-sticky; /* Para navegadores webkit */
    position: sticky;
    top: 0;
    background: #c0c2c3;
    z-index: 1;
}
/* FIN EL TAMAÑO DE LA TABLA */

/* ESTILO DE LA DISTACIA DEL PODIA */
.fila-puestos{
    padding: 3px !important;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FIN ESTILO DE LA DISTACIA DEL PODIA */


.campos-puestos{
    align-content: center;
}

/* TAMAÑO DE LA MEDALLA DEL GANADOR */
.medalla{
    position: relative;
    background-image: url('../img/Ganador.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 50px;
    height: 50px;
}

.medalla h6{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
}
/* FIN TAMAÑO DE LA MEDALLA DEL GANADOR */

/* TAMAÑO DE LAS MEDALLAS DE 2 Y 3 PUESTO */
.puesto{
    position: relative;
    background-image: url('../img/Puestos.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 40px;
    height: 40px;
}

.puesto h6{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
}
/* FIN TAMAÑO DE LAS MEDALLAS DE 2 Y 3 PUESTO */
/* FIN  CLASE DE LA TABLA DE SEGUIMIENTO DE JUGADORES */

