/* VARIABLES CSS */
:root {

    /* Texto Dificultades */
    --color-dificultad-facil: rgb(60, 184, 57);
    --color-dificultad-media: rgb(184, 171, 57);
    --color-dificultad-dificil: rgb(190, 8, 19);

}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 6px;
    bottom: 5px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Redondeado */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.contenedor-texto-nivel > div:nth-child(1) .texto-nivel {
    color: var(--color-dificultad-facil);
}

.contenedor-texto-nivel > div:nth-child(2) .texto-nivel {
    color: var(--color-dificultad-media);
}

.contenedor-texto-nivel > div:nth-child(3) .texto-nivel {
    color: var(--color-dificultad-dificil);
}

