*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background-image: url("https://fastly.picsum.photos/id/524/1140/605.jpg?hmac=9Q-Waxsjivgi-xmhLSrwyfgnNNlBIPFnDCF9h5BuCRE");
  background-color: rgb(88, 134, 233);

}

.caja{
  position: relative;
  width: 100%;
  height: 200px;
  border: 2px solid black;
  background-color: rgba(0, 255, 255, 30%);
}

