/* Cuerpo Chat */
.modal-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible; 
    opacity: 1; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: color-mix(in srgb, var(--color-negro) 65%, transparent);
    backdrop-filter: blur(2px);
    transition: visibility 0.3s, opacity 0.3s ease-in-out; /* Transición suave */
}

.modal-chat.show {
    visibility: visible; /* Visible */
    opacity: 1; /* Opaco */
}

.modal-content-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    padding: 0.5rem;
    width: 40%;
    height: 75%;
    font-family: var(--body-font);
}

/* Encabezado */
.encabezado-chat{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border: 2px solid green;
}

.icono-pat-chat{
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    border: 1px solid blue;
}

.title-chat{
    padding: 0.5rem;
    font-weight: var(--font-weight-bold);
    font-style: var(--font-style-dos);
    font-size: 1.5rem;
    text-align: center;
    color: var(--color-blanco);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.icono-cerrar-chat{
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    border: 1px solid blue;
}

/* Cuerpo Mensajes chat */
.contenedor-mensajes{
    width: 100%;
    /* height: 65%; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 2px solid yellow;
    overflow-y: scroll;
}

/* MENSAJE ENVIADO */
.cont-mensaje-jugador-enviado{
    width: auto;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-self: end;
    font-size: 1rem;
    padding: 8px;
    border: 1px solid black;
}

.jugador-envia {
    width: auto;
    max-width: 80%;
    min-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2em 1rem;
    border: 2px solid cadetblue;
}

.tu-chat{
    font-weight: var(--font-weight-bold);
    font-style: var(--font-style-dos);
    color: var(--color-blanco);
    border: 1px solid orange;
}

.avatar-chat{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    border: 1px solid white;
}

.mensaje-jugador-enviado {
    min-width: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: justify;
    padding: 0.2rem 0.4rem;
    border: 2px solid cadetblue;
}
/* FIN MENSAJE ENVIADO */

/* MENSAJE REIBIDO */
.cont-mensaje-recibido{
    width: auto;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-self: start;
    font-size: 1rem;
    padding: 8px;
    border: 1px solid black;
}

.jugador-recibido {
    width: auto;
    max-width: 80%;
    min-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem 1rem;
    background-color: rgb(85, 85, 130);
    border: 2px solid rgb(219, 69, 69);
}

.nombre-jugador-recibe{
    font-weight: var(--font-weight-bold);
    font-style: var(--font-style-dos);
    color: var(--color-blanco);
    border: 1px solid orange;
}

.avatar-chat-recibe{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    border: 1px solid white;
}

.mensaje-jugador-recibido {
    min-width: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.2rem 0.4rem;
    background-color: rgb(85, 85, 130);
    border: 2px solid rgb(219, 69, 69);
}
/* FIN MENSAJE REIBIDO */

/* Barra Envio */
.contenedor-barra-envio{
    width: 100%;
    /* height: 12%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
    border: 2px solid rgb(230, 7, 174);
}

.mensaje-enviar {
    width: 90%;
    height: 100%;
    border-radius: 50px;
    border: 0;
    border: 2px solid rgb(245, 229, 7);
    color: black;
    font-size: 15px;
}

.btn-enviar {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid greenyellow;
}

.cuerpo-alerta {
    font-family: var(--body-font);
    border-radius: 50px; /* Bordes redondeados */
    padding: 0.5rem; /* Espaciado interno */
    color: rgb(223, 223, 223);
    background: linear-gradient(102deg, color-mix(in srgb, var(--azul-oscuro) 55%, transparent) 21.7%, color-mix(in srgb, var(--verde-oscuro-x2) 60%, transparent) 79.94%);
    backdrop-filter: blur(15px);
    border: 5px outset rgb(0, 83, 151);
}


.icono-alerta{
    width: 120px;
    height: 120px;
    border: none !important;
}

.titulo-alerta{
    font-style: var(--font-style-dos);
    font-weight: var(--font-weight-extraBold);
}

.mensaje-alerta{
    font-weight: var(--font-weight-bold);
    font-size: 18px;
}

.boton-alerta{
    font-family: var(--body-font);
    font-style: var(--font-style-dos);
    font-weight: var(--font-weight-black);
    width: 100px;
    height: 50px;
    border-radius: 8px;
    background-color: var(--azul-borde-oscuro);
    border: 3px outset var(--verde-oscuro);
}

/* Fin CHAT */