* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: color-mix(in srgb, var(--color-negro) 45%, transparent);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: color-mix(in srgb, var(--color-negro) 80%, transparent);
    ;
    backdrop-filter: blur(10px);
    z-index: 9999;
    opacity: 1;
    transition: opacity 2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.opacidad {
    opacity: 0;
}

.contenedor-ganadores {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.confetti-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* No interfiere con clics en el contenido */
}

.title-ganadores {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    border: 3px outset color-mix(in srgb, var(--color-blanco) 80%, transparent);
    border-radius: 45px;
    background: color-mix(in srgb, var(--color-negro) 20%, transparent);
    box-shadow: 0px 0px 25px 5px var(--azul-oscuro);
}



.title-ganadores h1 {
    margin: 0;
    font-family: var(--body-font);
    font-style: var(--font-style-dos);
    font-weight: var(--font-weight-black);
    font-size: 2.5rem;
    letter-spacing: 6px;
    text-transform: uppercase;
    background: linear-gradient(45deg,
            var(--verde-oscuro),
            var(--azul-claro),
            var(--azul-oscuro),
            var(--verde));
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colores 4s ease-in-out infinite;
}

@keyframes colores {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}



.esperandoPrimerLugar {
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}



.malViajado {
    animation-name: vibracion;
    -webkit-animation-name: vibracion;
    -moz-animation-name: vibracion;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
}

@keyframes vibracion {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}



.top-3-ganadores {
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 65%;
    width: 60%;
}

.primer-lugar-ganador {
    order: 2;
    align-self: flex-start;
    /* animation: pulse-ganador 1s infinite; */
}

@keyframes pulse-ganador {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


.segundo-lugar-ganador {
    order: 1;
    align-self: flex-end;

}

.tercer-lugar-ganador {
    order: 3;
    align-self: flex-end;
}

.avatar-jugador-ganador {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

.avatar-jugador-ganador img {
    width: 130px;
    height: 130px;
    margin-bottom: 2px;
}

.corona-ganador {
    /* display: none; */
    width: 60px;
    height: 42px;
    background-image: url(https://i.ibb.co/Kh9Vwqb/Corona.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: -17px;
    right: -17px;
    transform: rotate(38deg);
}



.av-ju-segundo-ganador {
    background-image: url('../img/Recursos/Podio/Top 3/Estrellas-Dos.png');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 6px var(--segundo-lugar), 0 0 10px var(--segundo-lugar);
}

.av-ju-primero-ganador {
    background-image: url('../img/Recursos/Podio/Top 3/Estrellas-Uno.png');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 8px var(--primer-lugar), 0 0 10px var(--primer-lugar);
}

.av-ju-tercero-ganador {
    background-image: url('../img/Recursos/Podio/Top 3/Estrellas-Dos.png');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 4px var(--tercer-lugar), 0 0 10px var(--tercer-lugar);
}

/* ----------------------------------------------- */

.container {
    position: relative;
    z-index: 1;
    padding: 1em 0 0 0;
    height: 100vh;
}

.contenedor-podio {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.contenedor-titulo {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marco-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border: 4px outset color-mix(in srgb, var(--color-blanco) 90%, transparent);
    background: color-mix(in srgb, var(--color-negro) 50%, transparent);
    box-shadow: 0px 0px 20px 1px color-mix(in srgb, var(--azul-oscuro) 80%, transparent),
        inset 0px 0px 25px 5px color-mix(in srgb, var(--azul-oscuro) 80%, transparent);
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0;
}

.marco-titulo h1 {
    color: #FFF;
    margin: 0;
    text-align: center;
    text-shadow: 0px 4px 4px color-mix(in srgb, var(--color-negro) 25%, transparent),
        0px 0px 25px color-mix(in srgb, var(--verde-borde) 100%, transparent),
        0px 4px 4px color-mix(in srgb, var(--color-negro) 25%, transparent);
    -webkit-text-stroke-width: 1.8px;
    -webkit-text-stroke-color: color-mix(in srgb, var(--verde-borde) 100%, transparent);
    font-family: var(--body-font);
    font-style: var(--font-style-uno);
    font-weight: var(--font-weight-bold);
    line-height: normal;
    letter-spacing: 10px;
}

.contenedor-top-3 {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.jugador {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.primer-lugar {
    order: 2;
    align-self: flex-start;
}

.segundo-lugar {
    order: 1;
    align-self: flex-end;

}

.tercer-lugar {
    order: 3;
    align-self: flex-end;
}


.avatar-jugador {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.avatar-jugador img {
    width: 70px;
    height: 70px;
    margin-bottom: 2px;
    pointer-events: none;
}

.corona {
    /* display: none; */
    width: 48px;
    height: 30px;
    background-image: url(https://i.ibb.co/Kh9Vwqb/Corona.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: -17px;
    right: -17px;
    transform: rotate(38deg);
}

.corona-dos {
    display: none;
    width: 48px;
    height: 30px;
    background-image: url(https://i.ibb.co/XjM8Dv3/Corona01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: -20px;
    left: 50%;
}

.bounce {
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.avatar-jugador-img{
    pointer-events: none;
}

.avatar-jugador-img:not([src]) {
    display: none !important;
}

.avatar-jugador-img[src=""] {
    display: none !important;
}

@keyframes bounce {
    0% {
        transform: translateY(0) translateX(-50%);
    }

    50% {
        transform: translateY(-10px) translateX(-50%);
    }

    100% {
        transform: translateY(0) translateX(-50%);
    }
}

.av-ju-segundo {
    background-image: url('../img/Recursos/Podio/Top 3/Estrellas-Dos.png');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 4px var(--segundo-lugar), 0 0 10px var(--segundo-lugar);
}

.av-ju-primero {
    background-image: url('../img/Recursos/Podio/Top 3/Estrellas-Uno.png');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 4px var(--primer-lugar), 0 0 10px var(--primer-lugar);
}

.av-ju-tercero {
    background-image: url('../img/Recursos/Podio/Top 3/Estrellas-Dos.png');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 4px var(--tercer-lugar), 0 0 10px var(--tercer-lugar);
}




.nombre-jugador {
    width: 130px;
    padding: 0 5px 5px 5px;
    font-size: 19px;
    white-space: nowrap;
    text-shadow: 2px 2px 5px color-mix(in srgb, var(--color-negro) 50%, transparent);
    /* Evita que el texto se envuelva a la siguiente línea */
    overflow: hidden;
    /* Oculta el desbordamiento del texto */
    text-overflow: ellipsis;
    /* Añade puntos suspensivos al final del texto */
    text-align: center;
    font-family: var(--body-font);
    font-style: var(--font-style-dos);
    font-weight: var(--font-weight-bold);
}

.no-ju-primero {
    color: var(--primer-lugar);
}

.no-ju-segundo {
    color: var(--segundo-lugar);
}

.no-ju-tercero {
    color: var(--tercer-lugar);
}

.contenedor-tabla-jugadores {
    width: 80%;
    height: 50%;
    padding: 0.5rem;
    display: flex;
}

/* Tabla Podio */
main.table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(154deg, color-mix(in srgb, var(--azul-oscuro) 40%, transparent) 20.33%, 
                                        color-mix(in srgb, var(--verde-opaco) 55%, transparent) 78.84%); */
    /* backdrop-filter: blur(15px); */
    /* box-shadow: 0 .4rem .8rem color-mix(in srgb, var(--color-negro) 33%, transparent); */
    /* border: 4px outset color-mix(in srgb, var(--azul-oscuro) 60%, transparent); */
    border-radius: .8rem;
    margin: 0;
    padding: 0.5rem;
}

.table_body {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    overflow-y: scroll;
    scrollbar-width: none;
    box-shadow: 0 .4rem .8rem color-mix(in srgb, var(--color-negro) 50%, transparent);
}

.borde-tabla {
    border: 8px solid color-mix(in srgb, var(--verde-oscuro) 70%, transparent);

}

.tabla-jugadores {
    width: 100%;
    font-family: var(--body-font);
}


.encabezado-tabla {
    border: none;
}



.encabezado-tabla th {
    position: sticky;
    top: 0;
    background-color: var(--verde-oscuro-x4);
    color: var(--color-blanco);
    z-index: 1;

}

tr th {
    font-style: var(--font-style-dos);
    font-weight: var(--font-weight-black);
    font-size: 20px;
    text-shadow: 0px 4px 4px color-mix(in srgb, var(--color-negro) 25%, transparent),
        0px 0px 25px var(--verde-borde),
        0px 4px 4px color-mix(in srgb, var(--color-negro) 25%, transparent);
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: var(--azul-borde-oscuro);
    letter-spacing: 5px;
}

tr th:nth-child(1) {
    width: 20%;

}

tr th:nth-child(3) {
    width: 20%;

}

.cuerpo-tabla {
    background-color: color-mix(in srgb, var(--azul-oscuro) 90%, transparent) !important;
}


table,
th,
td {
    border-collapse: collapse;
    padding: 0.7rem;
    text-align: center;
    color: var(--azul-oscuro-x2);
    font-size: 18px;
    font-style: var(--font-style-uno);
    font-weight: var(--font-weight-extraBold);
    letter-spacing: 1px;
}

.fondo-top-3:nth-child(1) {
    background-color: color-mix(in srgb, var(--primer-lugar) 55%, transparent);
}

.fondo-top-3:nth-child(2) {
    background-color: color-mix(in srgb, var(--segundo-lugar) 55%, transparent);
}

.fondo-top-3:nth-child(3) {
    background-color: color-mix(in srgb, var(--tercer-lugar) 55%, transparent);
}

td h5 {
    display: inline-block;
    margin: 0;
    margin-top: 10px;
    margin-right: 40px;
    color: var(--azul-oscuro-x2);
    font-size: 18px;
    font-style: var(--font-style-uno);
    font-weight: var(--font-weight-extraBold);
    letter-spacing: 1px;
}


td img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    pointer-events: none;
}

.medalla-jugador {
    pointer-events: none;
    width: 50px;
    height: 50px;
}

.pulse {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

tbody tr:nth-child(n+4):nth-child(even) {
    background-color: color-mix(in srgb, var(--azul-oscuro-x2) 40%, transparent);
}

tbody tr:nth-child(-n+3) td:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

tbody tr:nth-child(-n+3) td:nth-child(2) h5 {
    margin: 0;
}

/*=============== BREAKPOINTS ===============*/

/* Pantalla celular grande*/
@media screen and (max-height: 576px) {}

/* Pantalla celular mediana */
@media screen and (max-width: 476px) {
    #overlay {
        padding: 0rem;
    }

    .contenedor-ganadores {
        justify-content: start;
        gap: 15%;
    }

    .title-ganadores {
        padding: 1rem;
        margin-top: 25%;
    }



    .title-ganadores h1 {
        font-size: 1.8rem;
        letter-spacing: 5px;
    }

    .top-3-ganadores {
        padding: 0.5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 35%;
        width: 100%;
    }

    .avatar-jugador-ganador {
        width: 110px;
        height: 110px;
    }

    .avatar-jugador-ganador img {
        width: 100px;
        height: 100px;
    }

    .corona-ganador {
        width: 58px;
        height: 40px;
        top: -20px;
        right: -20px;
    }

    /* -------------------------------------------------- */

    .marco-titulo h1 {
        font-size: 40px;
        letter-spacing: 5px;
    }

    .contenedor-top-3 {
        height: 25%;
    }

    .segundo-lugar {
        align-self: center;
        margin-top: 5rem;
    }

    .tercer-lugar {
        align-self: center;
        margin-top: 5rem;
    }

    .nomnbre-jugador {
        width: 100px;
    }

    .contenedor-tabla-jugadores {
        width: 100%;
        height: 60%;
        padding: 0;
        display: flex;
    }

    .borde-tabla {
        border: 3px solid color-mix(in srgb, var(--verde-oscuro) 70%, transparent);

    }

    tr th {
        font-size: 18px;
        letter-spacing: 2px;
    }

    tbody tr td:nth-child(1),
    td:nth-child(3) {
        font-size: 16px;
    }

    td h5 {
        font-size: 16px;
        letter-spacing: 0px;
    }


    td img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        float: left;
    }

    .medalla-jugador {
        width: 40px;
        height: 40px;
    }

}

/* Pantalla celular pequeña*/
@media screen and (max-width: 376px) {
    .title-ganadores h1 {
        font-size: 1.6rem;
        letter-spacing: 5px;
    }

    .top-3-ganadores {
        justify-content: space-evenly;
        height: 40%;
        width: 100%;
    }

    .avatar-jugador-ganador {
        width: 100px;
        height: 100px;
    }

    .avatar-jugador-ganador img {
        width: 90px;
        height: 90px;
    }

    .corona-ganador {
        /* display: none; */
        width: 56px;
        height: 38px;
        top: -18px;
        right: -18px;
    }

    /* -------------------------------------------------- */

    .marco-titulo h1 {
        font-size: 30px;
        letter-spacing: 5px;
    }

    .contenedor-top-3 {
        height: 25%;
    }

    .avatar-jugador {
        width: 65px;
        height: 65px;
    }

    .avatar-jugador img {
        width: 55px;
        height: 55px;
        margin-bottom: 2px;
    }

    .segundo-lugar {
        align-self: center;
        margin-top: 3rem;
    }

    .tercer-lugar {
        align-self: center;
        margin-top: 3rem;
    }

    .corona {
        /* display: none; */
        width: 40px;
        height: 22px;
        top: -12px;
        right: -12px;
    }

    .corona-dos {
        width: 40px;
        height: 17px;
        top: -20px;
        left: 50%;
    }

    .nombre-jugador {
        width: 104px;
        padding: 0 5px 5px 5px;
        font-size: 15px;
    }

    tr th {
        font-size: 16px;
    }

    tbody tr td:nth-child(1),
    td:nth-child(3) {
        font-size: 14px;
    }

    td h5 {
        font-size: 14px;
    }


    td img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        float: left;
    }

    .medalla-jugador {
        width: 35px;
        height: 35px;
    }
}

/* Pantalla celular minion*/
@media screen and (max-width: 320px) {
    .title-ganadores h1 {
        font-size: 1.3rem;
    }

    .avatar-jugador-ganador {
        width: 90px;
        height: 90px;
    }

    .avatar-jugador-ganador img {
        width: 80px;
        height: 80px;
    }

    .corona-ganador {
        /* display: none; */
        width: 52px;
        height: 34px;
        top: -18px;
        right: -18px;
    }

    /* -------------------------------------------------- */

    .marco-titulo h1 {
        font-size: 25px;
        letter-spacing: 5px;
    }

    .contenedor-top-3 {
        height: 25%;
    }

    .avatar-jugador {
        width: 60px;
        height: 60px;
    }

    .avatar-jugador img {
        width: 45px;
        height: 45px;
        margin-bottom: 2px;
    }

    .segundo-lugar {
        align-self: center;
        margin-top: 2rem;
    }

    .tercer-lugar {
        align-self: center;
        margin-top: 2rem;
    }

    .corona {
        /* display: none; */
        width: 35px;
        height: 19px;
        top: -10px;
        right: -10px;
    }

    .corona-dos {
        width: 40px;
        height: 17px;
        top: -20px;
        left: 50%;
    }

    .nombre-jugador {
        width: 100px;
        padding: 0 5px 5px 5px;
        font-size: 14px;
    }

    tr th {
        font-size: 14px;
    }

    tbody tr td:nth-child(1),
    td:nth-child(3) {
        font-size: 12px;
    }

    td h5 {
        font-size: 13px;
    }


    td img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        float: left;
    }

    .medalla-jugador {
        width: 30px;
        height: 30px;
    }
}