.container {
    padding: 0px;
}

.contenedor-detalles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem
}

/* Titulo */
.contenedor-titulo {
    padding: 8px;
}

.marco-titulo-detalles {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 2px solid #FFF;
    background: rgba(217, 217, 217, 0.00);
    box-shadow:  0px 0px 25px 12px #39B6B8,
                inset  0px 0px 25px 12px #39B6B8;
}

.marco-titulo-detalles h1 {
    font-size: 18px;
    margin: 3px;
    letter-spacing: 8px;
    color: var(--color-blanco);
}

/* Cartas General*/
.carta-categoria {
    width: 340px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    background: linear-gradient(102deg, rgba(57, 182, 184, 0.28) 21.7%, rgba(145, 195, 134, 0.39) 79.94%);
    box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 0.20) inset, 0px 1px 2px 0px rgba(0, 0, 0, 0.80) inset, 0px 20px 40px 0px rgba(0, 0, 0, 0.25) inset, 0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px -40px 40px 0px rgba(0, 0, 0, 0.20) inset, 0px 4px 12px 0px rgba(255, 255, 255, 0.40) inset;
    backdrop-filter: blur(20px);
}

.marco-subtitulos {
    text-align: center;
    width: 70%;
    padding: 12px;
    border-radius: 12px;
    border: 2px solid #FFF;
    background: rgba(57, 184, 108, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 0px 25px 5px rgba(57, 184, 108, 0.50);
    backdrop-filter: blur(5px);
}

.marco-subtitulos h3 {
    font-size: 15px;
    margin: 3px;
    letter-spacing: 8px;
    color: var(--color-blanco);
}

/* Carta Categoria */
.contenedor-elementos {
    display: flex;
    padding: 4px;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.marco-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 85px;
    height: 85px;
    border-radius: 20px;
    border: 3px outset #435BB2;
    box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 0.20) inset, 0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.contenedor-elementos h5 {
    font-size: 15px;
    margin: 3px;
    color: var(--color-blanco);
}

/* Carta Dificultades */
.contenedor-elementos-dificultad {
    display: flex;
    padding: 4px;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.marco-imagen-dificultad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 15px;
    border: 3px outset #435BB2;
    box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 0.20) inset, 0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    transform: rotate(45deg);
}

.marco-imagen-dificultad img {
    height: auto;
    transform: rotate(-45deg);
}

.contenedor-elementos-dificultad h5 {
    font-size: 14px;
    margin: 3px;
    color: var(--color-blanco);
    letter-spacing: 1px;
}


/*=============== BREAKPOINTS ===============*/

/* Pantalla celular grande*/
@media screen and (max-width: 576px) {}

/* Pantalla celular mediana */
@media screen and (max-width: 476px) {
    .contenedor-detalles {
        gap: 7rem;
    }

    .contenedor-titulo{
        margin-top: -40px;
    }

    .marco-titulo-detalles {
        width: 276px;
        flex-direction: column;
    }

    .marco-titulo-detalles h1 {
        font-size: 16px;
        margin: 3px;
        letter-spacing: 8px;
        color: var(--color-blanco);
    }

    .carta-categoria {
        width: 310px;
    }

    .marco-imagen {
        width: 95px;
        height: 95px;
    }

    .marco-subtitulos h3 {
        font-size: 13px;
    }

    .contenedor-elementos h5 {
        font-size: 0.8em;
    }

    .marco-imagen-dificultad {
        width: 65px;
        height: 65px;
    }

}

/* Pantalla celular pequeña*/
@media screen and (max-width: 376px) {
    .contenedor-detalles {
        gap: 4rem;
    }

    .contenedor-titulo{
        margin-top: 0;
    }

    .marco-titulo-detalles {
        width: 220px;
        flex-direction: column;
    }

    .marco-titulo-detalles h1 {
        font-size: 14px;
        margin: 3px;
        letter-spacing: 8px;
        color: var(--color-blanco);
    }

    .carta-categoria {
        width: 310px;
    }

    .marco-imagen {
        width: 95px;
        height: 95px;
    }

    .marco-subtitulos h3 {
        font-size: 13px;
    }

    .contenedor-elementos h5 {
        font-size: 0.8em;
    }

    .marco-imagen-dificultad {
        width: 65px;
        height: 65px;
    }
}

/* Pantalla celular minion*/
@media screen and (max-width: 320px) {
    .contenedor-detalles {
        gap: 2rem;
        border: 2px solid orange;
    }

    .contenedor-titulo{
        margin-top: 0;
    }

    .marco-titulo-detalles {
        width: 200px;
        flex-direction: column;
    }

    .marco-titulo-detalles h1 {
        font-size: 12px;
        margin: 3px;
        letter-spacing: 8px;
        color: var(--color-blanco);
    }

    .carta-categoria {
        gap: 15px;
    }

    .carta-categoria {
        width: 260px;
    }

    
    .marco-subtitulos h3 {
        font-size: 10px;
    }

    .marco-imagen {
        width: 80px;
        height: 80px;
    }

    .contenedor-elementos h5 {
        font-size: 0.8em;
    }

    .marco-imagen-dificultad {
        width: 60px;
        height: 60px;
    }
}